[Unit]
Description=Circuit Sword HUD/OSD Service
 
[Service]
ExecStart=/home/pi/Circuit-Sword/cs-hud/cs-hud
 
[Install]
WantedBy=multi-user.target
Alias=cs-hud.service
